# Number of replicas
replicaCount: 1

# Image configuration
image:
  tag: "latest"
  repository: 740838937919.dkr.ecr.us-east-2.amazonaws.com/hello-world-app
  pullPolicy: Always
  tag: "latest"

# Service configuration
service:
  type: LoadBalancer
  port: 80
  targetPort: 5000

# Resource limits and requests
resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 200m
    memory: 256Mi

# Horizontal Pod Autoscaling
autoscaling:
  enabled: true
  minReplicas: 1
  maxReplicas: 3
  targetCPUUtilizationPercentage: 50
  targetMemoryUtilizationPercentage: 50

# Node selector (if needed)
nodeSelector: {}

# Tolerations (if needed)
tolerations: []

# Affinity (if needed)
affinity: {}tag: "latest"
